<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>s'Cool Family</title>
    <link rel="stylesheet" href="/css/signIn.css">
    <link rel="stylesheet" href="/css/popup.css">
</head>
<body>
<%- include('headerPublic') %>
<section>
    <% if (errors){ %>
    <div id="errors" style="display: none;"> <%= errors %> </div>
    <% } %>
    <% if (data){ %>
    <br>
    <h2>Inscription : <%= data.name %></h2>
    <br>
    <form action="/registration/addIntern" method="post" enctype="application/json">
        <div>
            <label for="childName">Prénom de l'enfant:</label>
            <input type="text" class="form-control" name="childName" id="childName">
        </div>
        <div>
            <label for="age">Âge:</label>
            <input type="number" class="form-control" name="age" id="age" min="<%= data.fromAge %>"/>
        </div>
        <div>
            <label for="parentName">Nom d'un parent responsable:</label>
            <input type="text" class="form-control" name="parentName" id="parentName"/>
        </div>
        <div>
            <label for="parentPhone">GSM:</label>
            <input type="tel" class="form-control" name="parentPhone" id="parentPhone"/>
        </div>
        <div>
            <label for="mail">Adresse mail:</label>
            <input type="email" class="form-control" name="mail" id="mail"/>
        </div>
        <div>
            <label for="internshipId"></label>
            <input type="hidden" name="internshipId" id="internshipId" value="<%= data.id %>"/>
        </div>
        <div>
            <label for="imgRights">Droit à l'image</label>
            <input type="checkbox" name="imgRights" id="imgRights"/>
        </div>
        <button type="submit" class="btn btn-warning">Valider</button>
    </form>
    <div id="desc"> <p> <%= data.desc %> </p> </div>
    <% } %>
</section>

<script src="/createErrors.js"></script>
<script src="/cookiePopup.js"></script>
<script>
    createErrors();
    const form = document.querySelector('form');
    let imgRights = document.getElementById("imgRights");
    imgRights.addEventListener("click", function() {
        if (imgRights.checked){
            imgRights.value = true;
        }
    });

    form.addEventListener('submit', () => {
        const formValues = {
            "childName": document.getElementById('childName').value,
            "parentName": document.getElementById('parentName').value,
            "parentPhone": document.getElementById('parentPhone').value,
            "age": document.getElementById('age').value,
            "mail": document.getElementById('mail').value,
            "internshipId": document.getElementById('internshipId').value,
            "imgRights": imgRights.value
        };
        sessionStorage.setItem('values', JSON.stringify(formValues));
    });

    if (document.getElementById('errors')) {
        const values = JSON.parse(sessionStorage.getItem('values'));
        document.getElementById('childName').value = values.childName;
        document.getElementById('parentName').value = values.parentName;
        document.getElementById('mail').value = values.mail;
        document.getElementById('parentPhone').value = values.parentPhone;
        document.getElementById('age').value = values.age;
        document.getElementById('internshipId').value = value.internshipId;
        document.getElementById('imgRights').value = value.imgRights;
    }

    const age = document.getElementById('age');
    age.addEventListener('input', () => {
        age.value = parseInt(age.value);
        if (age.value < parseInt(age.getAttribute('min')) && age.value < 10) age.value = age.getAttribute('min');
    });

</script>
</body>
</html>
